version: '3.8'

services:
  app:
    image: hungns97/be-capstone-project:latest
    container_name: be-capstone
    ports:
      - "80:4000"
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge